@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0px;
    font-family: "Nunito Sans",sans-serif;
}

/* NAVIGATION BAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 110px;
    padding-right: 110px;
    position: relative;
    top: 0;
    height: 170px;
    z-index: 500;

}

.navbar-left, .navbar-right{
    display: flex;
    gap: 5px;
    margin-top: -60px;
    
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a{
    color: #282828;
    text-decoration: none;
    margin: 10px;
    padding: 16px 12px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}

.navbar a:hover{
    color: #3f3e3e;
}

.logo{
    height: 120px;
}

.navbar-right a i{
    font-size: 18px;
}

/* SUB MENU */
/* RECIPES SUB MENU */
.recipes-dropdown-content{
    margin-top: -15px;
    visibility: hidden;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    position: absolute;
    background-color: rgba(216, 213, 213, 0.963);
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.35s ease, visibility 0.35s ease;
}

.recipes-dropdown-content a{
    margin: -10px;
    color: #282828;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.recipes-dropdown:hover .recipes-dropdown-content{
    visibility: visible;
    opacity: 1;
}

/* SOURDOUGH SUB MENU */
.sourdough-dropdown-content{
    margin-top: -15px;
    visibility: hidden;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    position: absolute;
    background-color: rgba(216, 213, 213, 0.963);
    min-width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.35s ease, visibility 0.35s ease;
}

.sourdough-dropdown-content a{
    margin: -10px;
    color: #282828;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.sourdough-dropdown:hover .sourdough-dropdown-content{
    visibility: visible;
    opacity: 1;
}

/* BLOG SUB MENU */
.blog-dropdown-content{
    margin-top: -15px;
    visibility: hidden;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    position: absolute;
    background-color: rgba(216, 213, 213, 0.963);
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.35s ease, visibility 0.35s ease;
}

.blog-dropdown-content a{
    margin: -10px;
    color: #282828;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.blog-dropdown:hover .blog-dropdown-content{
    visibility: visible;
    opacity: 1;
}

/* CONNECT SUB MENU */
.connect-dropdown-content{
    margin-top: -15px;
    visibility: hidden;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    position: absolute;
    background-color: rgba(216, 213, 213, 0.963);
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.connect-dropdown-content a{
    margin: -10px;
    color: #282828;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.connect-dropdown-content a i{
    font-size: 12px;
}

.connect-dropdown:hover .connect-dropdown-content{
    visibility: visible;
    opacity: 1;
}

/* ACCOUNT SUB MENU */
.account-dropdown-content{
    margin-top: -15px;
    visibility: hidden;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    position: absolute;
    background-color: rgba(216, 213, 213, 0.963);
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.account-dropdown-content a{
    margin: -10px;
    color: #282828;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.account-dropdown:hover .account-dropdown-content{
    visibility: visible;
    opacity: 1;
}

/* DIV 2 */
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 110px;
    margin-top: -80px;
}

.collumn{
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.collumn img{
    width: auto;
    height: 450px;
}

.collumn p{
    font-size: 16px;
    line-height: 1.5;
    color: #282828;
    cursor: default;
}

.highlight{
    font-size: 20px;
    font-weight: bold;
}

/* INSTRUCTION */
.instruction{
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Alegreya Sans', serif;
}
.instruction-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    margin: 10px;
    background-color: #383838 ;
    margin: 2px 0;
}

.instruction-left{
    padding: 10px;
    position: relative;
    flex: 1;
    margin-right: 10px;
}

.instruction-left img{
    height: 300px;
    width: 100%;
}

.overlay-text{
    position: absolute;
    top: 15px;
    left: 30px;
    color: white;
    padding: 5px;
    font-size: 20px;
    cursor: default;
}

.overlay-text span{
    font-size: 30px;

}

.instruction-right{
    flex: 1;
    margin-top: -7  0px;
    margin-left: 60px;
}

.instruction-right p{
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    cursor: default;
}

.instruction a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: default;
}

.instruction a i{
    color: white;
    font-size: 40px;
    width: 40px;
}

.instruction a i:hover{
    cursor: pointer;
}

/* FEATURE PRODUCTS TITLE */
.feature-products {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.feature-products h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-style: italic;
}

.shop-link{
    font-size: 16px;
    text-decoration: none;
    font-style: italic;
    color: #282828;
}

.shop-link .bracket {
    color: #282828;
    font-style: italic;
}

.shop-link .shop-text {
    color: #fcb900;
    font-style: italic;
    transition: 0.35s ease;
}

.shop-link .shop-text:hover{
    color: #282828;
}

/* Hiển thị các sản phẩm */
.product-container{
    margin-top: -60px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
    padding: 110px;
    font-family: "Nunito Sans",sans-serif;
    color: #282828;
    cursor: default;
}

.product-box {
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.product-box img{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5 ease;
}

.name-wishlistIcon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.name-wishlistIcon h3{
    font-family: 'Fira Sans Extra Condensed',sans-serif;
    font-size: 18px;
    width: fit-content;
}

.name-wishlistIcon i{
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.price-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.product-box .price, .product-box .add-to-cart {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: 0.2s ease;
}

.product-box p{
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer
}

.product-box .price {
    transform: translateX(0);
    opacity: 1;
}

.product-box .add-to-cart {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 1;
    white-space: nowrap;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}


.product-box:hover .price {
    opacity: 0;
}

.product-box:hover .add-to-cart {
    transform: translateX(0);
    opacity: 1; 
}

.add-to-cart:hover{
    color: #fcb900;
}

.fas fa-heart{
    color: pink;
}